jupyterlab
nodejs
jupyter-resource-usage
jupyterlab-geojson
ipywidgets
dask-labextension
pytest
pylint
ipdb
contextily
folium
ydata-profiling
nvitop
tensorflow==2.18
tf_keras
numpy==1.26 
pySankeyBeta
plotly
sankey
dash