# Machine Learning Frameworks
tensorflow
torch
torchvision
torchaudio

# Jupyter Notebook
jupyterlab

# Data Manipulation and Visualization
pandas
numpy
matplotlib
seaborn
scikit-learn

# Natural Language Processing Libraries
nltk                      # Natural Language Toolkit
spacy                     # Advanced NLP library
sentence-transformers     # Sentence Embeddings
sentencepiece             # Tokenizer for NLP models
fasttext                  # Text Classification and Word Embeddings
lingua-language-detector  # Language Detection

# Deep Learning and NLP Frameworks
transformers              # Transformers library (Hugging Face)
keras                     # Deep learning library for Python
lightning-transformers    # PyTorch Lightning integration with Transformers
cuda-python               # CUDA bindings for Python
pynvml                    # NVIDIA Management Library bindings for Python
nvitop                    # GPU utilization monitoring
sacrebleu                 # BLEU metric for machine translation evaluation

# NEW Libraries for Environment Management and Utilities
python-dotenv             # Load environment variables from .env file
requests                  # HTTP library for sending requests
flask                     # Lightweight web framework for creating APIs

# Utilities
tqdm
Pillow

# Additional Libraries
scipy
plotly

# Linting and Formatting
autopep8
flake8

# For Shell Scripts (optional)
ipython