absl-py
astor
awscli
boto3
cffi
cupy-cuda100     
dataclasses
datasets
datasketch
deepspeed
fairscale
future
graphviz
h5py
ipdb
jupyterlab
keras
kfp
kfp-pipeline-spec
kfp-server-api
kss
kubernetes
lightning_transformers
matplotlib
mpi4py
msgpack
numpy
nvidia-ml-py3
optuna
packaging
pandas
psutil
py3nvml
pyarrow
pyre-extensions==0.0.23
pytorch-lightning
requests
scikit-learn
scipy
soundfile
sentencepiece
setuptools 
sphinx
sphinx_rtd_theme
tensorflow_datasets
tokenizers
tqdm
transformers
typing
wandb
yappi
sacrebleu==1.5.1